<div class="container text-center p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="row">
                <h2>Your Loyalty Card Status</h2>
            </div>
            <div class="card" id="LoyaltyCard000">

                <div class="row rounded-2">
                    <h2 class="Cafe-Name p-3">Cafes name</h2>
                </div>
                <div class="row">
                    <div class="Progress-Bar-Container rounded-2">
                        <div class="Progress-Box">
                            <svg width="200" height="218" viewBox="0 0 200 218" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Progress-Circle">
                                    <g clip-path="url(#clip0_25_11)">
                                        <circle id="back" cx="100" cy="100" r="100" fill="#F1732C" />
                                        <g id="front">
                                            <circle id="Ellipse 5" cx="100" cy="100" r="75" fill="#2B2B2B" />
                                            <path id="Polygon 1" d="M101.5 80L186.803 209.75H16.1965L101.5 80Z" fill="#2B2B2B" />
                                        </g>
                                        <g id="text">
                                            <path id="7/9" d="M74.3853 196L87.3967 170.261V170.034H72.3967V166.909H91.033V170.205L78.0785 196H74.3853ZM106.669 165.545L97.2937 200.375H94.2255L103.6 165.545H106.669ZM119.847 166.511C121.04 166.521 122.233 166.748 123.426 167.193C124.62 167.638 125.709 168.377 126.694 169.409C127.678 170.432 128.469 171.829 129.066 173.599C129.662 175.37 129.961 177.591 129.961 180.261C129.961 182.847 129.714 185.143 129.222 187.151C128.739 189.149 128.038 190.834 127.12 192.207C126.211 193.58 125.103 194.622 123.796 195.332C122.498 196.043 121.031 196.398 119.392 196.398C117.764 196.398 116.31 196.076 115.032 195.432C113.763 194.778 112.721 193.874 111.907 192.719C111.102 191.554 110.586 190.205 110.358 188.67H113.824C114.137 190.006 114.757 191.109 115.685 191.98C116.623 192.842 117.858 193.273 119.392 193.273C121.637 193.273 123.408 192.293 124.705 190.332C126.012 188.372 126.665 185.602 126.665 182.023H126.438C125.908 182.818 125.278 183.505 124.549 184.082C123.819 184.66 123.01 185.105 122.12 185.418C121.23 185.73 120.283 185.886 119.279 185.886C117.612 185.886 116.083 185.474 114.691 184.651C113.308 183.817 112.2 182.676 111.367 181.227C110.543 179.769 110.131 178.102 110.131 176.227C110.131 174.447 110.529 172.818 111.324 171.341C112.129 169.854 113.256 168.67 114.705 167.79C116.163 166.909 117.877 166.483 119.847 166.511ZM119.847 169.636C118.654 169.636 117.579 169.935 116.623 170.531C115.676 171.118 114.923 171.914 114.364 172.918C113.815 173.912 113.54 175.015 113.54 176.227C113.54 177.439 113.805 178.543 114.336 179.537C114.875 180.522 115.609 181.308 116.537 181.895C117.475 182.473 118.54 182.761 119.733 182.761C120.633 182.761 121.471 182.586 122.248 182.236C123.024 181.876 123.701 181.388 124.279 180.773C124.866 180.148 125.325 179.442 125.657 178.656C125.988 177.861 126.154 177.032 126.154 176.17C126.154 175.034 125.879 173.969 125.33 172.974C124.79 171.98 124.042 171.175 123.086 170.56C122.139 169.944 121.059 169.636 119.847 169.636Z" fill="white" />
                                            <path id="Logo" d="M55.718 115V85.9091H59.2408V111.875H72.7635V115H55.718ZM86.6271 115.455C84.6574 115.455 82.9292 114.986 81.4425 114.048C79.9652 113.111 78.8099 111.799 77.9766 110.114C77.1527 108.428 76.7408 106.458 76.7408 104.205C76.7408 101.932 77.1527 99.9479 77.9766 98.2528C78.8099 96.5578 79.9652 95.2415 81.4425 94.304C82.9292 93.3665 84.6574 92.8977 86.6271 92.8977C88.5968 92.8977 90.3203 93.3665 91.7976 94.304C93.2843 95.2415 94.4396 96.5578 95.2635 98.2528C96.0968 99.9479 96.5135 101.932 96.5135 104.205C96.5135 106.458 96.0968 108.428 95.2635 110.114C94.4396 111.799 93.2843 113.111 91.7976 114.048C90.3203 114.986 88.5968 115.455 86.6271 115.455ZM86.6271 112.443C88.1233 112.443 89.3544 112.06 90.3203 111.293C91.2862 110.526 92.0012 109.517 92.4652 108.267C92.9292 107.017 93.1612 105.663 93.1612 104.205C93.1612 102.746 92.9292 101.387 92.4652 100.128C92.0012 98.8684 91.2862 97.8504 90.3203 97.0739C89.3544 96.2973 88.1233 95.9091 86.6271 95.9091C85.1309 95.9091 83.8999 96.2973 82.9339 97.0739C81.968 97.8504 81.2531 98.8684 80.7891 100.128C80.325 101.387 80.093 102.746 80.093 104.205C80.093 105.663 80.325 107.017 80.7891 108.267C81.2531 109.517 81.968 110.526 82.9339 111.293C83.8999 112.06 85.1309 112.443 86.6271 112.443ZM110.438 123.636C108.818 123.636 107.426 123.428 106.261 123.011C105.097 122.604 104.126 122.064 103.349 121.392C102.582 120.729 101.972 120.019 101.517 119.261L104.188 117.386C104.491 117.784 104.874 118.239 105.338 118.75C105.802 119.271 106.437 119.721 107.241 120.099C108.056 120.488 109.121 120.682 110.438 120.682C112.199 120.682 113.652 120.256 114.798 119.403C115.944 118.551 116.517 117.216 116.517 115.398V110.966H116.233C115.987 111.364 115.636 111.856 115.182 112.443C114.737 113.021 114.093 113.537 113.25 113.991C112.417 114.437 111.29 114.659 109.869 114.659C108.108 114.659 106.527 114.242 105.125 113.409C103.733 112.576 102.63 111.364 101.815 109.773C101.01 108.182 100.608 106.25 100.608 103.977C100.608 101.742 101.001 99.7964 101.787 98.1392C102.573 96.4725 103.667 95.1847 105.068 94.2756C106.47 93.357 108.089 92.8977 109.926 92.8977C111.347 92.8977 112.473 93.1345 113.307 93.608C114.15 94.072 114.794 94.6023 115.239 95.1989C115.693 95.786 116.044 96.2689 116.29 96.6477H116.631V93.1818H119.869V115.625C119.869 117.5 119.443 119.025 118.591 120.199C117.748 121.383 116.612 122.249 115.182 122.798C113.761 123.357 112.18 123.636 110.438 123.636ZM110.324 111.648C111.669 111.648 112.805 111.34 113.733 110.724C114.661 110.109 115.366 109.223 115.849 108.068C116.332 106.913 116.574 105.53 116.574 103.92C116.574 102.348 116.337 100.961 115.864 99.7585C115.39 98.5559 114.689 97.6136 113.761 96.9318C112.833 96.25 111.688 95.9091 110.324 95.9091C108.903 95.9091 107.72 96.2689 106.773 96.9886C105.835 97.7083 105.13 98.6742 104.656 99.8864C104.192 101.098 103.96 102.443 103.96 103.92C103.96 105.436 104.197 106.776 104.67 107.94C105.153 109.096 105.864 110.005 106.801 110.668C107.748 111.321 108.922 111.648 110.324 111.648ZM134.869 115.455C132.9 115.455 131.171 114.986 129.685 114.048C128.207 113.111 127.052 111.799 126.219 110.114C125.395 108.428 124.983 106.458 124.983 104.205C124.983 101.932 125.395 99.9479 126.219 98.2528C127.052 96.5578 128.207 95.2415 129.685 94.304C131.171 93.3665 132.9 92.8977 134.869 92.8977C136.839 92.8977 138.563 93.3665 140.04 94.304C141.527 95.2415 142.682 96.5578 143.506 98.2528C144.339 99.9479 144.756 101.932 144.756 104.205C144.756 106.458 144.339 108.428 143.506 110.114C142.682 111.799 141.527 113.111 140.04 114.048C138.563 114.986 136.839 115.455 134.869 115.455ZM134.869 112.443C136.366 112.443 137.597 112.06 138.562 111.293C139.528 110.526 140.243 109.517 140.707 108.267C141.171 107.017 141.403 105.663 141.403 104.205C141.403 102.746 141.171 101.387 140.707 100.128C140.243 98.8684 139.528 97.8504 138.562 97.0739C137.597 96.2973 136.366 95.9091 134.869 95.9091C133.373 95.9091 132.142 96.2973 131.176 97.0739C130.21 97.8504 129.495 98.8684 129.031 100.128C128.567 101.387 128.335 102.746 128.335 104.205C128.335 105.663 128.567 107.017 129.031 108.267C129.495 109.517 130.21 110.526 131.176 111.293C132.142 112.06 133.373 112.443 134.869 112.443Z" fill="white" />
                                        </g>
                                    </g>
                                </g>
                                <defs>
                                    <clipPath id="clip0_25_11">
                                        <rect width="200" height="218" rx="10" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>


                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col">

                        <img src="~/Content/assets/rickroll.jpg" />

                    </div>

                </div>



                <div class="row">

                </div>



            </div>
        </div>
        <div class="col">

        </div>
    </div>

</div>