<div class="container text-center p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <form>
                <div class="row">
                    <div class="mb-4">
                        <label for="formGroupExampleInput" class="form-label" id="FormLabel">Phone number</label>
                        <input type="text" class="form-control" id="FormInput" placeholder="Phone Number">
                    </div>
                </div>


                <button type="submit" class="btn btn-primary btn-outline-dark" onclick="window.location.href = '~/Views/Home / About.cshtml';" id="FormButton">
                    Login
                </button>

            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>