<div class="container text-center p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="row">
                <h2>We've sent an verification SMS to <span style="color: #FDE9C9;" >05xxxxxxx..</span></h2>
            </div>
            <form>
                <div class="row">
                    <div class="mb-4">
                        <label for="formGroupExampleInput" class="form-label" id="FormLabel">Verify SMS</label>
                        <input type="text" class="form-control" id="FormInput" placeholder="">
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary btn-outline-dark" onclick="window.location.href = '~/Views/Home / About.cshtml';" id="FormButton">
                        Verify
                    </button>
                    <button class="btn btn-primary  btn-outline-dark " type="button">Re-Send SMS</button>
                </div>


            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>