
@{
    ViewBag.Title = "SignUp";
}

<div>
    <h2>SignUp</h2>
    <form name="requestOtpForm", id="requestOtpForm">
        <h4 id="requestOtpError" style="display: none; color: red;"></h4>
        <a id="phoneNumberTitle">Please enter your phone number</a>
        <input id="phoneNumberInput" placeholder="Phone Number" />
        <button type="button" id="requestOtpBtn" onclick="RequestOTP()">Submit</button>
    </form>

    <form name="submitOtpForm" id="submitOtpForm" style="display:none;">
        <h4 id="submitOtpError" style="display: none; color:red;"></h4>
        <a id="otpTitle">Please enter the one time password sent to your phone number</a>
        <input id="otpInput" placeholder="One-Time Password" />
        <button type="button" id="submitOtpBtn" onclick="SubmitOTP()">Submit</button>
        <a href="#" onclick="RequestOTP()">Resend OTP</a>
    </form>
</div>

<script>
    function RequestOTP() {
        $.ajax({
            url: "/api/setotp",
            type: "POST",
            data: { phoneNumber: $("#phoneNumberInput").val() },
            success: function (result) {
                console.log(result);
                if (result.success == true) {
                    $("#requestOtpForm").hide();
                    $("#submitOtpForm").show();

                }
                else {
                    $("#requestOtpError").html(result.message);
                    $("#requestOtpError").show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("ERROR: " + errorThrown);
            }
        });
    };

    function SubmitOTP() {
        $.ajax({
            url: "/api/submitotp",
            type: "POST",
            data: { otp: $("#otpInput").val() },
            success: function (result) {
                console.log(result);
                if (result.success == true) {
                    window.location.href = result.redirectUri;
                }
                else {
                    $("#submitOtpError").html(result.message);
                    $("#submitOtpError").show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("ERROR: " + errorThrown);
            }
        });
    };

</script>
