:root {
  --primary: #2B2B2B;
  --secondary: #3D3D3D;
  --tertiary: #F1732C;
  --quaternary: #FDE9C9;
  --stroke-width: 10;
}

body {
  background-color: var(--secondary);
}

#nav000 {
  background-color: var(--primary);
}

label.form-label {
  color: var(--tertiary);
}

.form-check-label {
  color: var(--quaternary);
}

.form-control,
.form-control:focus {
  background-color: var(--primary);
  border-color: var(--tertiary);
  color: var(--quaternary);
  box-shadow: 0 0 0 0.2rem rgba(234, 84, 85, 0.25);
}

.form-check-input {
  background-color: var(--primary);
  border-color: var(--tertiary);
  color: var(--quaternary);
}

.form-check-input:focus,
.form-check-input:after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  background-color: var(--primary);
  border-color: var(--tertiary);
  color: var(--quaternary);
  box-shadow: 0 0 0 0.2rem rgba(234, 84, 85, 0.25);
}

.form-check-input:checked {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: var(--tertiary);
  box-shadow: 0 0 0 0.2rem rgba(234, 84, 85, 0.25);
}

button.btn-primary {
  background-color: var(--primary);
  color: var(--tertiary);
}

button.btn-primary:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}

button.btn-primary:focus {
  background-color: var(--tertiary);
  color: var(--quaternary);
  box-shadow: 0 0 0 0.2rem rgba(234, 84, 85, 0.25);
}

button.btn-primary:focus:active {
  background-color: var(--tertiary);
  color: var(--quaternary);
  box-shadow: 0 0 0 0.2rem rgba(234, 84, 85, 0.25);
}

#navBrand, a.nav-link:hover, a.nav-link:focus {
  color: var(--tertiary);
}

a.nav-link {
  color: var(--quaternary);
}

div.card {
  background-color: var(--primary);
}

h2 {
  color: var(--tertiary);
}

h2.Cafe-Name {
  color: var(--quaternary);
}

h3 {
  color: var(--tertiary);
}

.row-Cafe-Name {
  background-color: var(--primary);
  margin: 20px;
}

.Progress-Bar-Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

path {
  stroke-linecap: round;
  stroke-width: 12;
}

.bar-bg {
  stroke: #FDE9C9;
}

.bar {
  stroke: #F1732C;
  stroke-dasharray: 248;
  stroke-dashoffset: 185.008;
  transition: stroke-dashoffset 1s linear;
}

@media only screen and (max-width: 600px) {
  a.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  li.nav-item {
    display: none;
  }
}
