:root {
    --dark-cozy-reddish: #424242;
    --cozy-reddish: #343434;
    --cozy-red: #EA5455;
    --cozy-beige: #FDE9C9;
}



body {      
    background-color: var(--dark-cozy-reddish);

}
#nav000 {       
    background-color: var(--cozy-reddish);    
}
#navBrand, a.nav-link:hover, a.nav-link:focus {
    color: var(--cozy-red);
}
a.nav-link {
    color: var(--cozy-beige);
}
