<div class="input-group rounded-2 text-center position-absolute start-50 translate-middle" id="PhoneVerCard002">
    <span class="input-group-text">Phone number</span>
    <input type="text" aria-label="PhoneNumber" class="form-control">
</div>

<div class="card rounded-2 text-center position-absolute top-50 start-50 translate-middle" id="DashCard001">
    <div class="card-body">
        <a class="nav-link" href="~/Views/Home/DashBoard.cshtml">Go to DashBoard</a>
    </div>
</div>