
<div class="container text-center p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-6">
            <form>
                <div class="row">
                    <div class="mb-4">
                        <label for="formGroupExampleInput" class="form-label" id="FormLabel">Phone number</label>
                        <input type="text" class="form-control" id="FormInput" placeholder="Phone Number">
                    </div>
                </div>


                <button type="submit" class="btn btn-primary btn-outline-dark " id="FormButton">
                    Login
                </button>

            </form>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>

@*<form class="bg-black">
        <div class="row mb-3">

        </div>
        <div class="row mb-3">
            <div class="card rounded-2 text-center position-absolute top-75 start-50 translate-middle" id="DashCard001">
                <div class="card-body">
                    <a class="nav-link" href="~/Views/Home/DashBoard.cshtml">Verify Phone Number</a>
                </div>
            </div>
        </div>
    </form>*@